.whole {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.header {
    border: white 1px solid;
    background: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.one {
    background: #1F2937;
}

.two {
    background: white;
}

.quote {
    background: #E5E7EB;
}
.footer {
    background:#1F2937;
}

.ShineItUpLogo {
    height: 100px;
    width: auto;
    border-radius: 8px;
    margin: 10px;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;

}

.header-links {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

