.whole {
    background-color: black;
    display: flex;
}

.header {
    border: white 1px solid;
    background-color: #1F2937;
}

.one {
    background-color: #1F2937;
}

.two {
    background-color: white;
}

.quote {
    background-color: #E5E7EB;
}
.footer {
    background-color:#1F2937;
}

.ShineItUpLogo {
    height: 20px;
    width: auto;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB
}